*,
*::before,
*::after {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--main-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
html {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-background-color);
  margin-bottom: 30px;
}
:focus {
  outline: none;
}
.space {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 32px 371px 32px 93px;
}

/* hero hover button color   #188CE8  */

:root {
  --main-color: #212121;
  --sub-text-color: rgba(255, 255, 255, 0.6);
  --sub-font-size: 16px;
  --main-background-color: #ffffff;
  --focus-hover-background-color: #2196f3;
  --focus-hover-color-button: #ffffff;
  --focus-hover-color-text: #2196f3;
  --active-color: #2196f3;
  --adress-g: #757575;
  --black: #000000;
  --button-focus: #188ce8;
  --mu-hero: #2f303a;
  --team-backgraund: #f5f4fa;
  --border: #ececec;
  --border-portfolio: #eeeeee;
}
.nav-contacts {
  display: flex;
}
.header-contact-item:not(:last-child) {
  margin-right: 50px;
}

.header-contact-item {
  display: block;
  padding: 32px 0 31px 0;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.we-do-list {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.group-list {
  display: flex;
}
.group-item:not(:last-child) {
  margin-right: 30px;
}

.group-item {
  width: 270px;
}
.address-g {
  color: var(--adress-g);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.footer-portfolio {
  display: flex;
  flex-direction: column;
  padding: 20px 24px;
  border-right: 1px solid var(--border-portfolio);
  border-bottom: 1px solid var(--border-portfolio);
  border-left: 1px solid var(--border-portfolio);
}
.container-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-list {
  display: flex;
  align-items: center;
}
header-contact-item-o {
  display: block;
  margin: 32px 0 31px 0;
}
.header-contact-item-o:not(:last-child) {
  margin-right: 50px;
}

.navbar-item {
  display: block;
  padding: 32px 0 31px 0;
}
body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  color: var(--main-color);
  font-size: var(--main-font-size);
  background-color: var(--main-background-color);
}
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  border-bottom: 1px solid var(--border);
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.wite {
  color: var(--main-background-color);
  font-family: "Raleway";
  font-style: normal;
  line-height: 1.19;
}

.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: var(--active-color);
  line-height: 1.19;
  letter-spacing: 0.02em;
}
.logo-black {
  color: var(--black);
  font-family: "Raleway";
  font-style: normal;
}

.logo-footer {
  display: block;
  margin-bottom: 10px;
}
.link {
  text-decoration: none;
  color: inherit;
}

.navbar {
  display: flex;
  margin-left: 97px;
}
.navbar-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.navbar-space:not(:last-child) {
  margin-right: 46px;
}

.navbar-link:focus {
  color: var(--focus-hover-color-text);
}
.address-w:focus,
.contacts:focus {
  color: var(--active-color);
}
.current-link,
.navbar-contact-link:focus,
.header-contact-link:focus,
.navbar-contact-link:hover,
.header-contact-link:hover {
  color: var(--focus-hover-color-text);
}

.navbar-link:hover,
.contacts:hover {
  color: var(--focus-hover-color-text);
}

.hero-button:focus {
  background-color: var(--button-focus);
}

.hero-button:hover {
  background-color: var(--button-focus);
}

.filter-button:focus {
  background-color: var(--focus-hover-background-color);
}

.filter-button:hover {
  background-color: var(--focus-hover-background-color);
}

.address:focus,
.filter-button:focus {
  color: var(--focus-hover-color-button);
}

.address:hover,
.address-w:hover {
  color: var(--active-color);
}
.filter-button:hover {
  color: var(--focus-hover-color-button);
}
.address-g:hover {
  color: var(--active-color);
}
.address:focus,
.address-g:focus {
  color: var(--active-color);
}

.contacts {
  color: var(--sub-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.hero {
  padding: 200px 0;
  background-color: var(--mu-hero);
}

.hero-button {
  font-family: Roboto, sans-serif;
  background-color: var(--active-color);
  color: var(--main-background-color);
  font-weight: 700;
  line-height: 1.8;
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.group-heading {
  color: var(--main-color);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-image {
  margin-bottom: 30px;
}
.group-detail {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--adress-g);
}
.team-container {
  display: flex;
  flex-direction: column;
}

.section-no-top-padding {
  padding-top: 0;
}
.we-do-container {
  display: flex;
  flex-direction: column;
}
.we-do-item:not(:last-child) {
  margin-right: 30px;
}

.section-heading {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
}
.section-heading-team {
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-list {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-team {
  background-color: var(--team-backgraund);
}

.team-name {
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
  color: var(--main-color);
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--adress-g);
}

.filter-button {
  font-family: Roboto, sans-serif;
  background-color: var(--team-backgraund);
  padding: 6px 26px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}

.projects-heading {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-filter {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--adress-g);
}
.address {
  font-style: normal;
}

.footer {
  background-color: var(--mu-hero);
  padding: 60px 0;
}

.address {
  color: var(--sub-text-color);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.address-w {
  color: var(--main-background-color);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.projects-item {
  gap: 30px;
  background: var(--main-background-color);
}
